* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar h1 {
    font-size: 24px;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.gambar {
    display: flex;
    justify-content: center;
    align-items: center;
}